
<div class="max-w-lg mx-auto border bg-fuchsia-50">
    <h1 class="font-bold text-lg text-center p-4"><%= @article.title %></h1>
    <p class="text-center p-4"><%= @article.body %></p>
    <img/>
    <div class="flex flex row justify-between p-4">
        <span><%= @article.created_at %></span>
        <span><%= @article.updated_at %></span>
    </div>
</div>